In [1]:
import sys
sys.path.append('/home/heyangle/Desktop/ScanCraft/ScanCraft')
from command.scan import scan
from command.NMSSMTools import NMSSMTools
mold=scan(method='random')
mold.AddScalar('tanB','MINPAR',3,1.,60.)
mold.AddScalar('M1','EXTPAR',1  ,20.    ,1000.)
mold.AddScalar('M2','EXTPAR'   ,2  ,100.    ,2000.)
mold.AddScalar('Atop','EXTPAR'   ,11  ,  -6e3    ,6e3)
mold.AddFollower('Abottom','EXTPAR'   ,12,'Atop')
mold.AddScalar('Atau','EXTPAR'   ,13  ,  100.      ,2000.)
mold.AddFollower('MtauL','EXTPAR'   ,33,'Atau')
mold.AddFollower('MtauR','EXTPAR'   ,36,'Atau')
mold.AddScalar('MQ3L','EXTPAR'   ,43,	100.,	2.e3)
mold.AddScalar('MtopR'	,'EXTPAR'   ,46,	100.,	2.e3)
mold.AddFollower('MbottomR','EXTPAR'  ,49,'MtopR')
mold.AddScalar('Lambda','EXTPAR'  ,61  ,1e-3    ,1. ,prior_distribution='exponential')
mold.AddScalar('Kappa','EXTPAR'   ,62 ,1.e-3    ,1. ,prior_distribution='exponential')
mold.AddScalar('A_Lambda','EXTPAR' ,63,-3.e3,3.e3)
mold.AddScalar('A_kappa','EXTPAR' ,64,-3.e3,3.e3)
mold.AddScalar('mu_eff','EXTPAR'  ,65,100.,1500.)

In [2]:
from command.multi_thread.queue_operation import GenerateQueue
from command.multi_thread.MT_NTools import MT_NTools
MTN=MT_NTools(threads=6)

delete folder record? (y/n)

In [3]:
ore_q=GenerateQueue(mold,total_number=100)
ore_q.qsize()

100

In [4]:
MTN.run(ore_q)

Calculations begin at Fri Nov 24 17:54:23 2017
  threads:  6
  points  100
  thread-4	runing,        0 points left at Fri Nov 24 17:54:29 2017
All points done. Use 0.002152 hours

In [8]:
import pandas

In [9]:
acc=NT[0].accepted_list;acc

[]

In [18]:
acc[0].variable_list.keys()

dict_keys(['tanB', 'M1', 'M2', 'Atop', 'Abottom', 'Atau', 'MtauL', 'MtauR', 'MQ3L', 'MtopR', 'MbottomR', 'Lambda', 'Kappa', 'A_Lambda', 'A_kappa', 'mu_eff'])

In [20]:
col_product=[]
for par in acc[0].variable_list.values():
    col_product.append(tuple(['input',par.block,par.code,par.name]))
col_product

[('input', 'MINPAR', 3, 'tanB'),
 ('input', 'EXTPAR', 1, 'M1'),
 ('input', 'EXTPAR', 2, 'M2'),
 ('input', 'EXTPAR', 11, 'Atop'),
 ('input', 'EXTPAR', 12, 'Abottom'),
 ('input', 'EXTPAR', 13, 'Atau'),
 ('input', 'EXTPAR', 33, 'MtauL'),
 ('input', 'EXTPAR', 36, 'MtauR'),
 ('input', 'EXTPAR', 43, 'MQ3L'),
 ('input', 'EXTPAR', 46, 'MtopR'),
 ('input', 'EXTPAR', 49, 'MbottomR'),
 ('input', 'EXTPAR', 61, 'Lambda'),
 ('input', 'EXTPAR', 62, 'Kappa'),
 ('input', 'EXTPAR', 63, 'A_Lambda'),
 ('input', 'EXTPAR', 64, 'A_kappa'),
 ('input', 'EXTPAR', 65, 'mu_eff')]

In [23]:
col=pandas.MultiIndex.from_tuples(col_product,names=['IO','block','code','name'])
print(col)

MultiIndex(levels=[['input'], ['EXTPAR', 'MINPAR'], [1, 2, 3, 11, 12, 13, 33, 36, 43, 46, 49, 61, 62, 63, 64, 65], ['A_Lambda', 'A_kappa', 'Abottom', 'Atau', 'Atop', 'Kappa', 'Lambda', 'M1', 'M2', 'MQ3L', 'MbottomR', 'MtauL', 'MtauR', 'MtopR', 'mu_eff', 'tanB']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [2, 0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [15, 7, 8, 4, 2, 3, 11, 12, 9, 13, 10, 6, 5, 0, 1, 14]],
           names=['IO', 'block', 'code', 'name'])

In [34]:
col.get_level_values(0)

Index(['input', 'input', 'input', 'input', 'input', 'input', 'input', 'input',
       'input', 'input', 'input', 'input', 'input', 'input', 'input', 'input'],
      dtype='object', name='IO')

In [36]:
for index in col:
    print(index)

('input', 'MINPAR', 3, 'tanB')
('input', 'EXTPAR', 1, 'M1')
('input', 'EXTPAR', 2, 'M2')
('input', 'EXTPAR', 11, 'Atop')
('input', 'EXTPAR', 12, 'Abottom')
('input', 'EXTPAR', 13, 'Atau')
('input', 'EXTPAR', 33, 'MtauL')
('input', 'EXTPAR', 36, 'MtauR')
('input', 'EXTPAR', 43, 'MQ3L')
('input', 'EXTPAR', 46, 'MtopR')
('input', 'EXTPAR', 49, 'MbottomR')
('input', 'EXTPAR', 61, 'Lambda')
('input', 'EXTPAR', 62, 'Kappa')
('input', 'EXTPAR', 63, 'A_Lambda')
('input', 'EXTPAR', 64, 'A_kappa')
('input', 'EXTPAR', 65, 'mu_eff')

In [39]:
import numpy
array=[]
for sample in acc:
    a_i=[]
    for IO,block,code,name in col:
        a_i.append(sample.block_list[block][code]())
#     print(a_i)
    array.append(a_i)
array=numpy.array(array)
print(array)

[[  5.99858673e+01   8.45866684e+02   1.71944514e+03  -4.16177403e+03
   -4.16177403e+03   3.75777524e+02   3.75777524e+02   3.75777524e+02
    1.26851438e+03   1.23298696e+03   1.23298696e+03   5.53560123e-02
    1.15754580e-01   1.74263747e+03  -2.52727847e+02   9.52932238e+02]
 [  1.17135915e+01   3.53155245e+02   1.66528581e+03  -1.68268491e+03
   -1.68268491e+03   1.96094791e+03   1.96094791e+03   1.96094791e+03
    7.78638767e+02   1.74287149e+03   1.74287149e+03   2.80381756e-01
    3.59629492e-01   2.61997061e+03  -1.88980568e+03   3.80807354e+02]
 [  9.65802579e+00   4.37760545e+02   1.01005788e+03  -3.69980587e+02
   -3.69980587e+02   5.17900014e+02   5.17900014e+02   5.17900014e+02
    1.49395979e+03   1.39138508e+03   1.39138508e+03   8.05396610e-02
    1.96470149e-01  -1.77996130e+03  -2.78714071e+03   1.42616365e+03]]

In [40]:
input_data=pandas.DataFrame(array,columns=col)

In [41]:
input_data

IO         input                                                     \
block     MINPAR      EXTPAR
code          3           1            2            11           12
name        tanB          M1           M2         Atop      Abottom
0      59.985867  845.866684  1719.445144 -4161.774026 -4161.774026
1      11.713591  353.155245  1665.285809 -1682.684909 -1682.684909
2       9.658026  437.760545  1010.057880  -369.980587  -369.980587

IO                                                                      \
block
code            13           33           36           43           46
name          Atau        MtauL        MtauR         MQ3L        MtopR
0       375.777524   375.777524   375.777524  1268.514384  1232.986961
1      1960.947908  1960.947908  1960.947908   778.638767  1742.871486
2       517.900014   517.900014   517.900014  1493.959787  1391.385076

IO
block
code            49        61        62           63           64           65
name      MbottomR    Lambda     Kappa     A_Lambda      A_kappa       mu_eff
0      1232.986961  0.055356  0.115755  1742.637466  -252.727847   952.932238
1      1742.871486  0.280382  0.359629  2619.970605 -1889.805681   380.807354
2      1391.385076  0.080540  0.196470 -1779.961296 -2787.140714  1426.163650

In [44]:
input_data.columns.levels[3]

Index(['A_Lambda', 'A_kappa', 'Abottom', 'Atau', 'Atop', 'Kappa', 'Lambda',
       'M1', 'M2', 'MQ3L', 'MbottomR', 'MtauL', 'MtauR', 'MtopR', 'mu_eff',
       'tanB'],
      dtype='object', name='name')

In [52]:
col_product2=col_product+[('input', 'Decay', 100, 'h1','h1aa')]

In [53]:
col_product2

[('input', 'MINPAR', 3, 'tanB'),
 ('input', 'EXTPAR', 1, 'M1'),
 ('input', 'EXTPAR', 2, 'M2'),
 ('input', 'EXTPAR', 11, 'Atop'),
 ('input', 'EXTPAR', 12, 'Abottom'),
 ('input', 'EXTPAR', 13, 'Atau'),
 ('input', 'EXTPAR', 33, 'MtauL'),
 ('input', 'EXTPAR', 36, 'MtauR'),
 ('input', 'EXTPAR', 43, 'MQ3L'),
 ('input', 'EXTPAR', 46, 'MtopR'),
 ('input', 'EXTPAR', 49, 'MbottomR'),
 ('input', 'EXTPAR', 61, 'Lambda'),
 ('input', 'EXTPAR', 62, 'Kappa'),
 ('input', 'EXTPAR', 63, 'A_Lambda'),
 ('input', 'EXTPAR', 64, 'A_kappa'),
 ('input', 'EXTPAR', 65, 'mu_eff'),
 ('input', 'Decay', 100, 'h1', 'h1aa')]

In [59]:
col2=pandas.MultiIndex.from_tuples(col_product2,names=['IO','block','code','name','Br'])

In [57]:
col2.levels[4]

Index(['h1aa'], dtype='object', name='Br')

In [110]:
col2.get_level_values(1)

Index(['MINPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR',
       'EXTPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR', 'EXTPAR',
       'EXTPAR', 'EXTPAR', 'Decay'],
      dtype='object', name='block')

In [102]:
DF=pandas.DataFrame()

In [103]:
DF=DF.append(input_data,ignore_index=True)

In [105]:
DF

IO         input                                                     \
block     MINPAR      EXTPAR
code          3           1            2            11           12
name        tanB          M1           M2         Atop      Abottom
0      59.985867  845.866684  1719.445144 -4161.774026 -4161.774026
1      11.713591  353.155245  1665.285809 -1682.684909 -1682.684909
2       9.658026  437.760545  1010.057880  -369.980587  -369.980587

IO                                                                      \
block
code            13           33           36           43           46
name          Atau        MtauL        MtauR         MQ3L        MtopR
0       375.777524   375.777524   375.777524  1268.514384  1232.986961
1      1960.947908  1960.947908  1960.947908   778.638767  1742.871486
2       517.900014   517.900014   517.900014  1493.959787  1391.385076

IO
block
code            49        61        62           63           64           65
name      MbottomR    Lambda     Kappa     A_Lambda      A_kappa       mu_eff
0      1232.986961  0.055356  0.115755  1742.637466  -252.727847   952.932238
1      1742.871486  0.280382  0.359629  2619.970605 -1889.805681   380.807354
2      1391.385076  0.080540  0.196470 -1779.961296 -2787.140714  1426.163650

In [106]:
DF[('ds',2,None,None)]=12

In [107]:
DF

IO         input                                                     \
block     MINPAR      EXTPAR
code           3           1            2           11           12
name        tanB          M1           M2         Atop      Abottom
0      59.985867  845.866684  1719.445144 -4161.774026 -4161.774026
1      11.713591  353.155245  1665.285809 -1682.684909 -1682.684909
2       9.658026  437.760545  1010.057880  -369.980587  -369.980587

IO                                                                      \
block
code            13           33           36           43           46
name          Atau        MtauL        MtauR         MQ3L        MtopR
0       375.777524   375.777524   375.777524  1268.514384  1232.986961
1      1960.947908  1960.947908  1960.947908   778.638767  1742.871486
2       517.900014   517.900014   517.900014  1493.959787  1391.385076

IO                                                                             \
block
code            49        61        62           63           64           65
name      MbottomR    Lambda     Kappa     A_Lambda      A_kappa       mu_eff
0      1232.986961  0.055356  0.115755  1742.637466  -252.727847   952.932238
1      1742.871486  0.280382  0.359629  2619.970605 -1889.805681   380.807354
2      1391.385076  0.080540  0.196470 -1779.961296 -2787.140714  1426.163650

IO     ds
block   2
code  NaN
name  NaN
0      12
1      12
2      12

In [88]:
len(col_product2)

17

In [91]:
numpy.random.randn(1,17)

array([[-0.55597185, -0.45821742, -1.17535627,  0.07952261,  0.77394749,
        -0.42754938, -0.98206815,  0.03671397, -0.02252014, -0.99296507,
        -0.42713065,  0.85163299,  0.12760487,  0.13079707, -0.05218838,
        -1.47665397,  0.18241558]])

In [93]:
data2=pandas.DataFrame(_,columns=col2)

In [94]:
data2

IO        input                                                              \
block    MINPAR    EXTPAR
code        3         1         2         11        12        13        33
name       tanB        M1        M2      Atop   Abottom      Atau     MtauL
Br          NaN       NaN       NaN       NaN       NaN       NaN       NaN
0     -0.555972 -0.458217 -1.175356  0.079523  0.773947 -0.427549 -0.982068

IO                                                                          \
block
code        36       43        46        49        61        62        63
name      MtauR     MQ3L     MtopR  MbottomR    Lambda     Kappa  A_Lambda
Br          NaN      NaN       NaN       NaN       NaN       NaN       NaN
0      0.036714 -0.02252 -0.992965 -0.427131  0.851633  0.127605  0.130797

IO
block                         Decay
code        64        65        100
name    A_kappa    mu_eff        h1
Br          NaN       NaN      h1aa
0     -0.052188 -1.476654  0.182416

In [150]:
def InputToPandas(*point_list,order=input_parameter_list):
    PL=FlatList(point_list)
    flags=[(type(point) is scan) for point in PL]
    if not all([type(point) is scan for point in PL]):
        print(flags)
        Error('wrong type when interpreting input data into Pandas')
    else:
        par_array=[]
        for point in PL:
            array_row=[]
            for name in order:
                array_row.append(point.scalar_list[name]())
            par_array.append(array_row)

        col=pandas.MultiIndex.from_tuples(
            [tuple(['input',par.block,par.code,par.name])
                for par in [point.scalar_list[n] for n in order]
            ],
            names=['title','block','code','name']
        )
        
        DF=pandas.DataFrame(numpy.array(par_array),columns=col)
        return DF

In [151]:
InputToPandas(acc,acc)

title      input                                                     \
block     MINPAR      EXTPAR
code          3           1            2            11           13
name        tanB          M1           M2         Atop         Atau
0      59.985867  845.866684  1719.445144 -4161.774026   375.777524
1      11.713591  353.155245  1665.285809 -1682.684909  1960.947908
2       9.658026  437.760545  1010.057880  -369.980587   517.900014
3      59.985867  845.866684  1719.445144 -4161.774026   375.777524
4      11.713591  353.155245  1665.285809 -1682.684909  1960.947908
5       9.658026  437.760545  1010.057880  -369.980587   517.900014

title                                                                          \
block
code            43           46        61        62           63           64
name          MQ3L        MtopR    Lambda     Kappa     A_Lambda      A_kappa
0      1268.514384  1232.986961  0.055356  0.115755  1742.637466  -252.727847
1       778.638767  1742.871486  0.280382  0.359629  2619.970605 -1889.805681
2      1493.959787  1391.385076  0.080540  0.196470 -1779.961296 -2787.140714
3      1268.514384  1232.986961  0.055356  0.115755  1742.637466  -252.727847
4       778.638767  1742.871486  0.280382  0.359629  2619.970605 -1889.805681
5      1493.959787  1391.385076  0.080540  0.196470 -1779.961296 -2787.140714

title
block
code            65
name        mu_eff
0       952.932238
1       380.807354
2      1426.163650
3       952.932238
4       380.807354
5      1426.163650

In [153]:
_.values

array([[  5.99858673e+01,   8.45866684e+02,   1.71944514e+03,
         -4.16177403e+03,   3.75777524e+02,   1.26851438e+03,
          1.23298696e+03,   5.53560123e-02,   1.15754580e-01,
          1.74263747e+03,  -2.52727847e+02,   9.52932238e+02],
       [  1.17135915e+01,   3.53155245e+02,   1.66528581e+03,
         -1.68268491e+03,   1.96094791e+03,   7.78638767e+02,
          1.74287149e+03,   2.80381756e-01,   3.59629492e-01,
          2.61997061e+03,  -1.88980568e+03,   3.80807354e+02],
       [  9.65802579e+00,   4.37760545e+02,   1.01005788e+03,
         -3.69980587e+02,   5.17900014e+02,   1.49395979e+03,
          1.39138508e+03,   8.05396610e-02,   1.96470149e-01,
         -1.77996130e+03,  -2.78714071e+03,   1.42616365e+03],
       [  5.99858673e+01,   8.45866684e+02,   1.71944514e+03,
         -4.16177403e+03,   3.75777524e+02,   1.26851438e+03,
          1.23298696e+03,   5.53560123e-02,   1.15754580e-01,
          1.74263747e+03,  -2.52727847e+02,   9.52932238e+02],
       [  1.17135915e+01,   3.53155245e+02,   1.66528581e+03,
         -1.68268491e+03,   1.96094791e+03,   7.78638767e+02,
          1.74287149e+03,   2.80381756e-01,   3.59629492e-01,
          2.61997061e+03,  -1.88980568e+03,   3.80807354e+02],
       [  9.65802579e+00,   4.37760545e+02,   1.01005788e+03,
         -3.69980587e+02,   5.17900014e+02,   1.49395979e+03,
          1.39138508e+03,   8.05396610e-02,   1.96470149e-01,
         -1.77996130e+03,  -2.78714071e+03,   1.42616365e+03]])

In [154]:
for i in _:
    print(i)

[  5.99858673e+01   8.45866684e+02   1.71944514e+03  -4.16177403e+03
   3.75777524e+02   1.26851438e+03   1.23298696e+03   5.53560123e-02
   1.15754580e-01   1.74263747e+03  -2.52727847e+02   9.52932238e+02]
[  1.17135915e+01   3.53155245e+02   1.66528581e+03  -1.68268491e+03
   1.96094791e+03   7.78638767e+02   1.74287149e+03   2.80381756e-01
   3.59629492e-01   2.61997061e+03  -1.88980568e+03   3.80807354e+02]
[  9.65802579e+00   4.37760545e+02   1.01005788e+03  -3.69980587e+02
   5.17900014e+02   1.49395979e+03   1.39138508e+03   8.05396610e-02
   1.96470149e-01  -1.77996130e+03  -2.78714071e+03   1.42616365e+03]
[  5.99858673e+01   8.45866684e+02   1.71944514e+03  -4.16177403e+03
   3.75777524e+02   1.26851438e+03   1.23298696e+03   5.53560123e-02
   1.15754580e-01   1.74263747e+03  -2.52727847e+02   9.52932238e+02]
[  1.17135915e+01   3.53155245e+02   1.66528581e+03  -1.68268491e+03
   1.96094791e+03   7.78638767e+02   1.74287149e+03   2.80381756e-01
   3.59629492e-01   2.61997061e+03  -1.88980568e+03   3.80807354e+02]
[  9.65802579e+00   4.37760545e+02   1.01005788e+03  -3.69980587e+02
   5.17900014e+02   1.49395979e+03   1.39138508e+03   8.05396610e-02
   1.96470149e-01  -1.77996130e+03  -2.78714071e+03   1.42616365e+03]